body{
    padding: 0;
    margin: 0;
}
#main{
    width: 960px;
    margin: 0 auto;
    background-color: rgba(150,150,150,0.8);
    padding-bottom: 5px;
}
h1{
    text-align: center;
    margin-top: 0;
    padding: 5px;
}
#introduction{
    margin: 10px;
    padding: 5px;
    background-color: rgba(233, 233, 233, 0.8);
    
}
#controls{
    margin: 10px;
    padding: 5px;
    background-color: rgba(233, 233, 233, 0.8);
    
}
.control{
    padding: 5px;
    margin: 10px 0px 10px 0px;
}
label{
    display: inline-block;
    width: 500px;
    margin-right: 10px;
}
input{
    width: 150px;
}
#results{
    margin: 10px;
    padding: 5px;
    background-color: rgba(233, 233, 233, 0.8);
}
#distinct_submit{
    margin-left: 158px;
}